
:host {
    text-align: center;
    display:block;
}

* {
    line-height: 1em;
    font-size: 1em;
    min-width: 0em;
}
.mat-icon {
    height: auto;
    width: auto;
    font-size:1.25em;
}

.mat-button {
    padding: 0px;
}