.dialog-title h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mat-dialog-content {
    max-height: 85vh;
}
.dialog-content .header {
    height: 3em;
}

.dialog-content .header .column {
    float: left;
}

.dialog-content .header .avatar {
    width: 3em;
    height: 3em;
    background-size: 3em;
    border-radius: 1.5em;
    float:left;
}

.dialog-content .header .aside-avatar {
    float: none;
    padding-left: 4em;
}

.dialog-content .header .title {
    font-size: 2em;
}

.dialog-content .header {
    content: "";
    clear: both;
    display: table;
}

p.selftext {
    overflow-wrap: break-word;
}

.dialog-content mat-divider {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dialog-footer mat-divider {
    width: 100%;
    margin-bottom: 1em;
}

img.full-image {
    object-fit: contain;
    width:100%;
    height:100%;
    max-height:70vh;
}

video.fluid-embed {
    object-fit: contain;
    width:100%;
    height:100%;
    max-height:70vh;
}