<div mat-dialog-content class="dialog-content" [class.dark-theme]="darkMode$ | async">
  <div class="header" *ngIf="post.author">
    <div class="avatar" [ngStyle]="{ 'background-image': 'url(' + post.author.avatarUrl + ')'}"></div>
    <div class="aside-avatar">
      <span class="title">{{post.title}}</span>      <br/>
      <app-post-subtitle [post]="post"></app-post-subtitle>
    </div>
  </div>
  <mat-divider></mat-divider>
  <img *ngIf="post.imageUrl" class="full-image" [src]="post.imageUrl" >
  <div *ngIf="post.mediaEmbed" [innerHTML]="post.mediaEmbed | safeHTML" class="embed-fluid"></div>
  <video *ngIf="post.videoUrl" class="fluid-embed" controls autoplay muted loop>
    <source [src]="post.videoUrl" type="video/mp4">
  </video>
  <!--
    Bruteforces image if it can display at all
    <img #fimg *ngIf="!this.hidden" class="full-image" [src]="post.url" (error)="this.hidden = true" >
  -->
  <div class="selftext" [innerHTML]="post.html"></div>
  <mat-divider></mat-divider>
  <div class="comments">
    <app-post-comment *ngFor="let reply of post.replies" [post]="reply"></app-post-comment>
  </div>
</div>
<div mat-dialog-actions class="dialog-footer">
  <mat-divider></mat-divider>
  <app-post-footer [post]="post"></app-post-footer>
</div>