<div mat-dialog-content class="dialog-content">
  <div class="header" *ngIf="post.author">
    <div class="avatar" [ngStyle]="{ 'background-image': 'url(' + post.author.avatarUrl + ')'}"></div>
    <div class="aside-avatar">
      <span class="title">{{post.title}}</span>      <br/>
      <span>{{post.author.name}}</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <p class="selftext">{{post.text}}</p>
</div>
<div mat-dialog-actions class="dialog-footer">
  <mat-divider></mat-divider>
  <div class="button-group"><button mat-button><mat-icon>arrow_upward</mat-icon></button><span class="votes">{{post.upvotes}}</span></div>
  <div class="button-group"><button mat-button><mat-icon>arrow_downward</mat-icon></button><span class="votes">{{post.downvotes}}</span></div>
  <div class="button-group"><button mat-button><mat-icon>share</mat-icon></button><span class="votes">Share</span></div>
</div>