:host {
    display: flex; 
    flex-direction: row;
}
.post-aside {
    font-size: 0.75em;
    padding-top: 0.7em;
}
.reply-container {
    /*padding-left: 1rem;*/
    border-left: rgba(128,128,128,0.5) 0.1rem solid;
}
span.votes {
    width: 3em;
    display: inline-block;
}