:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.form {
  flex: 1 0 auto;
  background-color: inherit;
}
.footer {
  flex: 0 0 auto;
  background: inherit;
}
.full-width-field {
  width: 100%;
}
