<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Post Type</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select formControlName="postType">
                <mat-option value="{{SubmissionType.Link}}">Link Post</mat-option>
                <mat-option value="{{SubmissionType.Text}}">Text Post</mat-option>
            </mat-select>
            <!--<mat-icon matSuffix>create</mat-icon>
            <mat-hint>Text or link post?</mat-hint>-->
        </mat-form-field>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <form [formGroup]="secondFormGroup">
        <div *ngFor="let input of secondFormData">
            <div [ngSwitch]="input.controlType">
                <div *ngSwitchCase="'textarea'">
                    <mat-form-field class="full-width-field">
                        <mat-label>{{input.controlName}}</mat-label>
                        <textarea matInput formControlName="{{input.controlName}}" placeholder="{{input.placeholder}}" [cdkTextareaAutosize] [cdkAutosizeMinRows]="3" cdkAutosizeMaxRows="6"
                                required>
                        </textarea>
                    </mat-form-field>
                </div>
                <div *ngSwitchDefault>
                    <mat-form-field [class.full-width-field]="input.controlType=='text'">
                        <mat-label>{{input.controlName}}</mat-label>
                        <input matInput formControlName="{{input.controlName}}" placeholder="{{input.placeholder}}"
                                required>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>