<mat-card class="post-card" *ngFor="let post of samplePosts" [class.is-text]="post.text || !(post.url)">
  <mat-card-header>
    <div *ngIf="post.author && post.author.avatarUrl" mat-card-avatar class="post-header-image" [ngStyle]="{ 'background-image': 'url(' + post.author.avatarUrl + ')'}"></div>
    <mat-card-title> {{post.title}} </mat-card-title>
    <mat-card-subtitle *ngIf="post.author && post.author.name">{{post.author.name}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="post.previewUrl" mat-card-image src="{{post.previewUrl}}" alt="{{post.title}}" >
  <mat-card-content *ngIf="post.text">
    <div class="fadeout-container"><div class="fadeout-inner"></div></div>
    <p>
      {{post.text}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>