.post-card {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-header-image {
    background-size: cover;
}

.post-card img {
    width:100%;
    margin:0%;
}

.mat-card-content {
    overflow: hidden;
    max-height:  60vmin;
}

.mat-card-content .fadeout-container {
    position:relative;
}

.mat-card-content .fadeout-inner {
    position:absolute;
    height:60vmin;
    width:100%;
    z-index: 1;
}

.is-text > .mat-card-content {
    max-height:  10rem;
}

.is-text > .mat-card-content .fadeout-inner {
    height: 10rem;
}

span.votes {
    width: 3em;
    display: inline-block;
}

div.loading {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
}

div.loading img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    border: none;
    background: url("/assets/img/load.svg");
}