.post-card {
    margin: 5vw;
}

.post-header-image {
    background-size: cover;
}

.post-card img {
    width:100%;
    margin:0%;
}

.mat-card-content {
    max-height:  10rem;
    overflow: hidden;
}

.mat-card-content .fadeout-container {
    position:relative;
}
.mat-card-content .fadeout-inner {
    position:absolute;
    height:10rem;
    width:100%;
    z-index: 1;
}