@mixin scrollbar-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $bg-color: mat-color($background, background);

    @media only screen and (min-device-width: 600px) {
        *::-webkit-scrollbar-track
        {
            background-color: transparent;
        }
        
        *::-webkit-scrollbar
        {
            width: 8px;
            background-color: transparent;
        }
        
        *::-webkit-scrollbar-thumb
        {
            background-color: rgba(128,128,128,64); /*rgba(mat-color($accent),0.3);*/
            border-radius: 4px;
        }
    }
}