<div class="button-group">
  <button
    mat-button
    (click)="vote(post, post.userVote > 0 ? 0 : 1)"
    [color]="post.userVote > 0 ? 'accent' : ''"
  >
    <mat-icon [inline]="true">arrow_upward</mat-icon></button
  ><span class="votes">{{ post.upvotes }}</span>
</div>
<div class="button-group">
  <button
    mat-button
    (click)="vote(post, post.userVote < 0 ? 0 : -1)"
    [color]="post.userVote < 0 ? 'accent' : ''"
  >
    <mat-icon [inline]="true">arrow_downward</mat-icon></button
  ><span class="votes">{{ post.downvotes }}</span>
</div>
<div class="button-group" *ngIf="showComments" (click)="viewPost(post)">
  <button mat-button><mat-icon [inline]="true">comment</mat-icon></button
  ><span class="votes">{{ post.numComments ? post.numComments : 0 }}</span>
</div>
<div class="spacer"></div>
<div class="button-group" *ngIf="showClose" (click)="closePost()">
  <button mat-button><mat-icon [inline]="true">close</mat-icon></button>
</div>
